{% extends "base.html.twig" %}

{% block title %}

SymphArt Articles

{% endblock title%}


{% block body %}
    {% if articles %}
    <table id="articles" class="table table-striped">
        <thead>
            <tr>
                <th>Article Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td><a href="/article/{{ article.id }}" class="btn btn-dark">Show</a>
                    <td><a href="#" class="btn btn-danger delete-article" data-id="{{ article.id }}" onclick="deleteArticle({{ article.id }})">Delete</a>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No articles Present</p>
    {% endif %}
{% endblock body %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>
{% endblock javascripts %}